<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Hello</title>
    <!-- <script type="text/javascript" src="../static/JS/index.js"></script> -->
    <!-- <link rel="stylesheet" href="../static/css/my_hello.css" /> -->
</head>
<body>
    
    <h1>This is my hello</h1>
    {% load static %}
    <div id="root"></div>
    <script type="text/javascript" src="{% static '/dist/index.js' %}"></script>
    <!-- 傳統js，<script>標籤會放在最下面 -->
</body>
</html>